<div class="container" id="form-dose">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <div class="btn btn-gradient small">
      <%= f.button :submit, 'Create' %>
    </div>
  <% end %>
</div>