.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#FF8864, #E14E3A);
  transition: background 0.3s ease;
  border: 1px solid #E14E3A;
}

.btn-gradient:hover {
  background: linear-gradient(#da7253, #dd3d28);
  color: white;
}

.btn-gradient-blue {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient-blue:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.small {
  padding: 0 !important;
}

.btn-add {
  font-size: 24px;
  font-weight: bold;
  padding-top: 0px !important;
  padding-bottom: 5px !important;
  border-radius: 100px;
  line-height: 1 !important;
  height: max-content;
  margin-left: 50px;
  margin-top: 50px;
}







