// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.homepage {
  background-image: url('https://images.unsplash.com/photo-1570869937455-a347fba0a41b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'); 
  background-size: cover;
  height: 100vh;
  overflow-x: scroll;
}

.homepage h1 {
  color: #ffffff;
  font-size: 56px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.but {
  margin: 10px auto;
  width: max-content;
}

.homepage a {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    text-shadow: 1px 1px 2px pink;
  }
}

h1 {
  text-align: center;
}

#show-page {
  margin-top: 30px;
}

#show-page h1 {
  margin-bottom: 50px;
  font-size: 48px;
}

.recipe {
  display: flex;
}

.recipe-list {
  list-style-type: none;
  font-size: 32px;
  text-align: left;
  margin-top: 10px;
}

.recipe-img {
  justify-content: left;
  
}

.recipe-img > img {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(136, 132, 132);

  &:hover {
    transform: rotateY(180deg);
  }
}

.btn-dose {
  display: flex;
  justify-content: center;
}

.back {
  margin-top: 30px;
}

.back a {
  font-size: 30px;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

body {
  background-color: #FAF9F4;
}

#form-dose {
  margin-top: 30px;
}
